<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <form action="/home" method="post">
    <h1>welcome <span class="name">{{name}}</span> </h1>
    </form>
</body>
</html>