<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <style>
        .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.box{
    width: 400px;
    height: auto;
    background-color: aqua;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.text-field{
    border: none;
    outline: none;
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 5px;
}
.checkbox {
    position: relative;
    left: 32px;
    /* left: 60px; */
    
}

.me{
    position: relative;
    left:25px;
    /* left: 80px; */
}

.forgot{
    position: relative;
    left: 115px;
    /* left: 275px;  */
}

.pass{
    /* position: relative; */
    
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    height: 20px;
    max-width: 80%;
    padding-bottom: 20px;
}



.forgot, .sign-up{
    text-decoration: none;
    color: green;
}

.btn{
    background-color: white;
    border: none;
    outline: none;
    width: 80%;
    height: 30px;
    {{!-- margin-bottom: 20px; --}}
    border-radius: 20px;
    padding: 5px;
}

.error_email{
    float: left;
}
    </style>
</head>
<body>
    <div class="container">
        <form action="/login" method="post">
        <div class="box">
            <h1>LOGIN</h1>
            <input class="text-field" id="email-input" autocomplete="off" placeholder="email" name="email">
            <p class="error_email" >{{error_email}}</p>
            <input type="password" class="text-field" placeholder="password" name="password">
            <p class="error-message">{{errorMessage}}</p>  
            <div class="pass">
                <input class="checkbox" type="checkbox">
                <p class="me">Remember me</p>
                <a class="forgot" href="forgot">forgot password ?</a>
                
            </div>
            <input type="submit" class="btn" value="Log In">
            <p>not a member? <a class="sign-up" href="register"> sign up!</a></p>
        </div>
        </form>
    </div>
    <script>
        // Check if the page was reloaded (not the first visit)
    if (performance.navigation.type === 1) {
        // The page was reloaded, hide the error message
        const errorMessage = document.querySelector(".error-message");
        const error_email = document.querySelector(".error_email");
        errorMessage.style.display = "none";
        error_email.style.display = "none";
    }

    

    
    </script>
</body>
</html>